<!DOCTYPE html>
<html lang="en" ng-app="sketch">
<head>
	<meta charset="UTF-8">
	<title>angular-sketch</title>
	<script src="js/angular.js"></script>
	<script src="js/index.js"></script>
	<link rel="stylesheet" href="css/index.css">
</head>
<body ng-controller="sketchcontroller">  

    <div class="top">

        <ul>
            <li ng-class="{active:csState.style=='fill'}"ng-click="setStyle('fill')">线条填充</li>
            <input type="color"ng-model="csState.strokeStyle"></input>
            <li ng-class="{active:csState.style=='stroke'}"ng-click="setStyle('stroke')">图形填充</li>
            <input type="color"ng-model="csState.fillStyle"></input>
            <input ng-model="csState.lineWidth"type="range"min="1"max="30"step="1">宽度</input>
        </ul>       

    </div>
    <div class="zuo">
      
        <!-- <input ng-model="tool"></input> -->
        <ul>
            <li class="gongju">工具箱</li>
   
        	<li ng-repeat="(key, value) in tools track by $index"ng-click="settool(value)"ng-class="{active:value==tool}">
        		<span><img src="{{key}}" alt=""></span>
        	</li>
        	<!-- <hr> -->

        	<!-- <hr> -->
            <li ng-click="newSketch()">新建</li>
            <li><a ng-click="save($event)">保存</a></li>
            <li class="fanhui">返回</li>
            <input class="widt"ng-model="controlless.width"type="range"min="400"max="800"step="1"></input>
            <input class="heig"ng-model="controlless.height"type="range"min="400"max="800"step="1"></input>
        </ul>
		
	</div>
	<div class="you">
		<canvas id="canvas1"width="{{controlless.width}}"height="{{controlless.height}}"></canvas>
	</div>
</body>
</html>